body {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff7f50, #ff4500);
    color: #ffffff;
}

header {
    background-color: #ff1493;
    color: #ffffff;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #00ffff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ff0b81;
    color: #ffffff;
    border-radius: 5px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .logo-container {
        width: 300px;
        height: 90px;
    }

    .plate {
        width: 280px;
        height: 75px;
    }

    .main-text {
        font-size: 22px;
        top: 20px;
    }

    .subtitle {
        font-size: 14px;
        top: 50px;
    }

    .noodle {
        width: 300px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .content {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    .image-gallery img {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        width: 250px;
        height: 75px;
    }

    .plate {
        width: 230px;
        height: 60px;
    }

    .main-text {
        font-size: 18px;
        top: 15px;
    }

    .subtitle {
        font-size: 12px;
        top: 40px;
    }

    section {
        padding: 2rem;
        margin: 2rem auto;
        background-color: #333333;
        border-radius: 10px;
        max-width: 800px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    footer {
        text-align: center;
        padding: 1rem 0;
        background-color: #ff1493;
        color: #ffffff;
        position: fixed;
        width: 100%;
        bottom: 0;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    }
}